/* Flex the header so elements can be easily aligned */
.Header {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: space-between;
  background-color: #250f47;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 0 20px;
}

/* Header's childs */
.Header h1 {
  width: 40%;
  height: auto;
  display: flex;
  align-items: center;
  font-size: calc(3vw + 10px); /* Help the font to automaticaly chnge its size along with the screen size */
  color: #fff;
}

.Header nav {
  width: 40%;
  max-width: 190px; /* Help to maintain a good spacing between nav links */
  height: auto;
  display: flex;
  justify-content: center;
}

.Header nav ul { /* Nav list container */
  width: 100%; /* Make the list container full width with its parent 'nav' */
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: #c6bad1;
  transition: all 0.2s ease-in-out;
}

a:hover {
  color: #00ca32a9;
}

@media screen and (max-width: 400px) {
  .Header {
    flex-direction: column;
    justify-content: center;
  }

  .Header h1 {
    width: 100%;
    margin-bottom: 10px;
  }

  .Header nav {
    width: 100%;
  }
}
