.main { /* Main container */
  width: 100%;
  max-width: 300px;
  height: auto;
}

.calc { /* Calculator container */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

/* Calculator's screen start */
.screen { /* Calculator's screen */
  width: 100%;
  border: 1px solid black;
  height: auto;
  display: flex;
  align-items: center;
  padding: 0 10px;
  justify-content: flex-end;
  background: rgb(42, 42, 42);
}

.screen h3 { /* Calculator's screen input */
  min-width: 10px;
  max-width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  background: transparent;
  border: none;
  color: white;
}

/* Calculator's screen end */

/* Calculator's buttons start */
li {
  border: 1px solid #000;
  font-weight: bolder;
}

.pad { /* Calculator's buttons container */
  width: 25%;
  height: auto;
}

.zero { /* zero button */
  width: 50%;
}

.same { /* gray buttons */
  background-color: #5c5c5c;
}

.same:hover {
  background-color: #4c4c4c;
}

.different { /* Orange buttons */
  background-color: #f60 !important;
}

.different:hover {
  background-color: #d60 !important;
}

/* Calculator's buttons end */
