.main { /* Main container */
  width: 100%;
  height: calc(100% - 100px);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
}

.head {
  width: 50%;
  height: auto;
}

.head h3 {
  width: 100%;
  height: auto;
  color: #00ca33;
  font-size: medium;
  font-weight: 100;
}

.calc { /* Calculator container */
  width: 300px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: space-between;
}

/* Calculator's screen start */
.screen { /* Calculator's screen */
  border: 1px solid #00ca33;
  border-radius: 15px;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  justify-content: flex-end;
  background-color: #110723;
}

.screen h3 { /* Calculator's screen input */
  min-width: 10px;
  max-width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 50;
  background: transparent;
  border: none;
  color: white;
} /* Calculator's screen end */

.pad { /* Calculator's buttons container */
  width: 24%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.zero { /* zero button */
  width: 48%;
}

.light { /* Free buttons buttons */
  background-color: #0000;
  color: #00ca33;
  transition: all 0.2s ease-in-out;
}

.text-color button {
  color: #00ca33;
}

.light button:hover {
  color: #00ca32ce;
  transition: all 0.2s ease-in-out;
}

.green { /* Colorized buttons */
  width: 50px;
  height: 50px;
  background-color: #00ca33 !important;
  border: none;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

.green:hover {
  background-color: #00ca328a !important;
}

/* Calculator's buttons end */
