* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

#root {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  width: 100%;
  height: auto;
  padding: 10px 0;
  background: transparent;
  border: none;
  color: white;
}
