* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

#root {
  width: 100vw;
  height: 100vh;
  background-color: #110723;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Header,
.Home,
.main,
.Quote {
  max-width: 1024px;
}

button {
  width: 100%;
  height: auto;
  padding: 10px 0;
  background: transparent;
  border: none;
  color: white;
}
